{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'webapp/css/index.css' %}">
{% endblock %}

{% block body_class %}index{% endblock %}

<title>{% block title %}VFServices Domain Navigator{% endblock %}</title>

    {% block page_heading %}VFServices Navigator{% endblock %}
  {% block content %}
    <ul>
      <li><a href="https://identity.vfservices.viloforge.com">Identity Provider</a></li>
      <li><a href="https://website.vfservices.viloforge.com">Website</a></li>
      <li><a href="https://billing.vfservices.viloforge.com">Billing API</a></li>
      <li><a href="https://inventory.vfservices.viloforge.com">Inventory API</a></li>
    </ul>
  {% endblock %}
